*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}
.button {
    border-radius: 15px;
    width: 71%;
    position: relative;
    height: 38px;
    background-color: rgb(105, 107, 240);
    color: white;
}
.form_content {
    background-image: linear-gradient(rgba(78, 76, 76, 0.8),rgba(0,0,0,0.8)), url(images/cover.jpg);
    background-position: center;
    background-size: cover;
    height: 1162px;
}
.form_text {
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 50%;
    width: 30%;
    text-align: center;
    left: 10%;
    margin: 5% 21%;
    border-radius: 20px;
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.input {
    width: 70%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 5% auto;
    margin: 7% auto 5%;
    height: 32px;
}
.emails {
    position: absolute;
    margin-top: 89px;
    margin-left: 2%;
}
.emails h1{
    color: brown;
}
.emails h3{
    margin-left: 34px;
    color: rgb(70, 177, 219);
}
#exist{
    color: red;
    border: none;
}
@media only screen and (max-width: 909px){
    .emails{
        position: absolute;
        margin-left: 20%;
        margin-top: 985px;
    }
}
@media only screen and (max-width: 758px){
    .emails h3{
        margin-left: 0px;
    }
    .form_text{
        height: 50%;
        width: 44%;
        margin: 30% 21%;
    }
    .form_content{
        height: 35rem;
    }
}